@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');


canvas {
  position: fixed;
  top: 0;
  left: 0;
}


:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: 'Rubik Pixels', cursive;
  font-weight: 400;
  font-style: normal;
  
}
.laterale{
  margin-left: 19vw;
}
.carvsotag{
  font-size: 1rem;
  color: #DDFFBB;
}
body{
  background-color: black;
  overflow-x: hidden;
}
#myVideo {
  position: fixed;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}
.siracusatag{
  margin-left: 302px;
  margin-top: 0;
}
header h1{
  margin-bottom:  0;
}
main {
  width: 100vw;
  color: #E5BEEC;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: 'Rubik Pixels', cursive;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


.pi{
  font-size: 5rem;
}
.pi-defin{
  color: #E5BEEC;
}
  header {
    background: var(--dark-bg);
    grid-column: 2 / span 6;
    font-size: 2.5rem;
    padding: 2rem;
    margin-bottom: var(--spacing);
  }

section {
    grid-column: 2 / 8;
    padding: 1rem;
    background: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: var(--spacing);
}

  blockquote {
    margin: 0;
    padding: 0;
    grid-column: 2 / span 9;
    margin-bottom: var(--spacing);
  }
.firma{
  margin-bottom: 0px;
}
.firma p{
  margin-left: 65vw;
}

  blockquote p {
    color: black;
    background-color: white;
    font-size: 4rem;
    display: inline;
    line-height: 1;
  }

  .left {
    grid-column: 6 / 12;
  }
